@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    object-fit: cover;
}